<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'cooler1', 'cooler2'],
          {% for item1 in data1 %}
                {% for item2 in data2 %}
                    {% if item1['time'] == item2['time'] %}
                        ['{{item1['time']}}',{{item1['value']}},{{item2['value']}}],
                    {% endif %}
                {% endfor %}
            {% endfor %}
        ]);

        var options = {
          chart: {
            title: 'Overall view of temparatures across all coolers',
          },
          bars: 'vertical' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div id="barchart_material" style="width: 900px; height: 500px;"></div>
  </body>
</html>